<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('head.ejs',  {title: title}) %>
</head>

<body style="height: 100%;">

<header>
    <%- include ('header.ejs') %>
</header>

<main>
    <%- body %>
</main>

<footer id="footer" class="footer-1">
    <%- include ('footer.ejs') %>
</footer>
    


</body>
</html>