<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('head.ejs',  {title: title}) %>
</head>
<body class="container">

<header>
    <%- include ('header.ejs') %>
</header>

<main>
    <%- body %>
</main>

<footer>
    <%- include ('footer.ejs') %>
</footer>

</body>
</html>