<main style="padding: 2rem;">
    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-9 mb-6">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-BTC" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="row" style="align-items: center;">
                                <div class="col-lg-1 col-sm-1">
                                    <img src="images/btc.png" alt="" style="width: 30px">
                                </div>
                                <div class="col-lg-11 col-sm-11" style="margin-left: -35px;">
                                    <h6 class="m-0 font-weight-bold">비트코인(BTC/KRW)</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row" style="align-items: center;">
                                <div class="col-lg-6 col-sm-6" id="BTCinfo">
                                    <div id="BTCcurrentPrice" style="font-size: 1.2rem; font-weight: bold;">
                                    </div>
                                    <div id="BTCdiff">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2" style="border-left: 1px solid rgba(0,0,0,.2);">
                                    <div style="color: gray; font-size: 12px;">
                                        최고가(24h)
                                    </div>
                                    <div id="BTCmaxPrice" style="font-size: 13px; font-weight: bold">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2" style="border-left: 1px solid rgba(0,0,0,.2);">
                                    <div style="color: gray; font-size: 12px;">
                                        최저가(24h)
                                    </div>
                                    <div id="BTCminPrice" style="font-size: 13px; font-weight: bold">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2" style="border-left: 1px solid rgba(0,0,0,.2);">
                                    <div style="color: gray; font-size: 12px;">
                                        거래대금(24h)
                                    </div>
                                    <div id="BTCvolume" style="font-size: 13px; font-weight: bold">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold">Candle Chart</h6>
                        </div>
                        <div class="card-body">
                            <div id="BTCcandleChart"></div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="v-pills-ETH" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="row" style="align-items: center;">
                                <div class="col-lg-1">
                                    <img src="images/eth.png" alt="" style="width: 30px">
                                </div>
                                <div class="col-lg-11" style="margin-left: -35px;">
                                    <h6 class="m-0 font-weight-bold">이더리움(ETH/KRW)</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row" style="align-items: center;">
                                <div class="col-lg-6 col-sm-6" id="ETHinfo">
                                    <div id="ETHcurrentPrice" style="font-size: 1.2rem; font-weight: bold;">
                                    </div>
                                    <div id="ETHdiff">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2" style="border-left: 1px solid rgba(0,0,0,.2);">
                                    <div style="color: gray; font-size: 12px;">
                                        최고가
                                    </div>
                                    <div id="ETHmaxPrice" style="font-size: 13px; font-weight: bold">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2" style="border-left: 1px solid rgba(0,0,0,.2);">
                                    <div style="color: gray; font-size: 12px;">
                                        최저가
                                    </div>
                                    <div id="ETHminPrice" style="font-size: 13px; font-weight: bold">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2" style="border-left: 1px solid rgba(0,0,0,.2);">
                                    <div style="color: gray; font-size: 12px;">
                                        거래대금
                                    </div>
                                    <div id="ETHvolume" style="font-size: 13px; font-weight: bold">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold">Candle Chart</h6>
                        </div>
                        <div class="card-body">
                            <div id="ETHcandleChart"></div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-EOS" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="row" style="align-items: center;">
                                <div class="col-lg-1">
                                    <img src="images/eos.png" alt="" style="width: 30px">
                                </div>
                                <div class="col-lg-11" style="margin-left: -35px;">
                                    <h6 class="m-0 font-weight-bold">이오스(EOS/KRW)</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row" style="align-items: center;">
                                <div class="col-lg-6 col-sm-6" id="EOSinfo">
                                    <div id="EOScurrentPrice" style="font-size: 1.2rem; font-weight: bold;">
                                    </div>
                                    <div id="EOSdiff">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2" style="border-left: 1px solid rgba(0,0,0,.2);">
                                    <div style="color: gray; font-size: 12px;">
                                        최고가
                                    </div>
                                    <div id="EOSmaxPrice" style="font-size: 13px; font-weight: bold">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2" style="border-left: 1px solid rgba(0,0,0,.2);">
                                    <div style="color: gray; font-size: 12px;">
                                        최저가
                                    </div>
                                    <div id="EOSminPrice" style="font-size: 13px; font-weight: bold">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2" style="border-left: 1px solid rgba(0,0,0,.2);">
                                    <div style="color: gray; font-size: 12px;">
                                        거래대금
                                    </div>
                                    <div id="EOSvolume" style="font-size: 13px; font-weight: bold">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold">Candle Chart</h6>
                        </div>
                        <div class="card-body">
                            <div id="EOScandleChart"></div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-XRP" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="row" style="align-items: center;">
                                <div class="col-lg-1">
                                    <img src="images/xrp.png" alt="" style="width: 30px">
                                </div>
                                <div class="col-lg-11" style="margin-left: -35px;">
                                    <h6 class="m-0 font-weight-bold">리플(XRP/KRW)</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row" style="align-items: center;">
                                <div class="col-lg-6 col-sm-6" id="XRPinfo">
                                    <div id="XRPcurrentPrice" style="font-size: 1.2rem; font-weight: bold;">
                                    </div>
                                    <div id="XRPdiff">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2" style="border-left: 1px solid rgba(0,0,0,.2);">
                                    <div style="color: gray; font-size: 12px;">
                                        최고가
                                    </div>
                                    <div id="XRPmaxPrice" style="font-size: 13px; font-weight: bold">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2" style="border-left: 1px solid rgba(0,0,0,.2);">
                                    <div style="color: gray; font-size: 12px;">
                                        최저가
                                    </div>
                                    <div id="XRPminPrice" style="font-size: 13px; font-weight: bold">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2" style="border-left: 1px solid rgba(0,0,0,.2);">
                                    <div style="color: gray; font-size: 12px;">
                                        거래대금
                                    </div>
                                    <div id="XRPvolume" style="font-size: 13px; font-weight: bold">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold">Candle Chart</h6>
                        </div>
                        <div class="card-body">
                            <div id="XRPcandleChart"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold">일일 거래</h6>
                        </div>
                        <div class="card-body">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold">매수하기 / 매도하기</h6>
                        </div>
                        <div class="card-body">
                            <form action="">
                                <div>
                                    <label for="price">가격:</label>
                                    <input type="text" id="price" />
                                </div>
                                <div>
                                    <label for="amount">수량:</label>
                                    <input type="email" id="amount" />
                                </div>
                                <div>
                                    <label for="total">합계:</label>
                                    <textarea id="total"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 mb-2">        
            <!-- Illustrations -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold">암호화폐 종류</h6>
                </div>
                <div class="card-body">
                    <div class="row" style="color: gray; font-size: 12px; text-align: center;">
                        <div class="col-lg-6 col-sm6">
                            코인명
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            현재가
                        </div>
                    </div>
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="text-align: center;">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-BTC" role="tab" aria-controls="v-pills-home" aria-selected="true">
                            <div class="row" style="align-items: center;">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="krw">
                                        BTC/KRW
                                    </div>
                                    <div>
                                        비트코인
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    11,000,000
                                </div>
                            </div>
                        </a>
                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-ETH" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                            <div class="row" style="align-items: center;">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="krw">
                                        ETH/KRW
                                    </div>
                                    <div>
                                        이더리움
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    290,040
                                </div>
                            </div>
                        </a>
                        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-EOS" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                            <div class="row" style="align-items: center;">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="krw">
                                        EOS/KRW
                                    </div>
                                    <div>
                                        이오스
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    3,305
                                </div>
                            </div>
                        </a>
                        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-XRP" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                            <div class="row" style="align-items: center;">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="krw">
                                        XRP/KRW
                                    </div>
                                    <div>
                                        리플
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    241
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        
            <!-- Approach -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold">거래소 설명</h6>
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, ratione placeat perferendis quod modi neque ex magni, id provident temporibus adipisci officia voluptates delectus, dolores ipsa molestiae. Quisquam, nam exercitationem.
                </div>
            </div>        
        </div>
    </div>
    <script type="text/javascript">
        // Draw a candlestick chart based on passed prices
        function drawChart(currency, rs) {
            d3.csv(`${currency}.csv`, 
                function (prices) {

                    for (var i = 0; i < prices.length; i++) {
                        var dateFormat = d3.timeParse("%Y-%m-%d");
                        prices[i]['Date'] = dateFormat(prices[i]['Date'])
                    }
                    for (var i = 0; i < prices.length; i++) {
                        prices[i]['Open'] = Math.round(prices[i]['Open'])
                        prices[i]['High'] = Math.round(prices[i]['High'])
                        prices[i]['Low'] = Math.round(prices[i]['Low'])
                        prices[i]['Close'] = Math.round(prices[i]['Close'])
                    }
                    var margin = {top: 15, right: 65, bottom: 25, left: 70},
                        w = 890 - margin.left - margin.right,
                        h = 490 - margin.top - margin.bottom;

                    var svg = d3.select(`#${currency}candleChart`).append("svg")
                        .attr("width", w + margin.left + margin.right)
                        .attr("height", h + margin.top + margin.bottom)
                        .append("g")
                        .attr("transform", "translate(" +margin.left+ "," +margin.top+ ")");
                    
                    // x axis
                    var xmin = d3.min(prices.map(function(r){ return r.Date.getTime(); }));
                    var xmax = d3.max(prices.map(function(r){ return r.Date.getTime(); }));

                    var xScale = d3.scaleBand().domain(_.map(prices, 'Date'))
                            .range([margin.left, w])
                            .padding(0.2)
                            
                    var xAxis = d3.axisBottom()
                                .scale(xScale)
                                .tickFormat(function(d, i){ if (i % 14 == 0) {return d.getDate() + ' ' + getShortMonth(d)}});

                    svg.append("g")
                        .attr("class", "axis") //Assign "axis" class
                        .attr("transform", "translate(0," + h + ")")
                        .call(xAxis);

                    // y axis
                    var ymin = d3.min(prices.map(function(r){return r.Low;}));
                    var ymax = d3.max(prices.map(function(r){return r.High;}));
                    var yScale = d3.scaleLinear().domain([ymin, ymax]).range([h, 0]).nice();
                    var yAxis = d3.axisLeft()
                                .scale(yScale)
                                .ticks(Math.round((ymax - ymin)/rs))

                    svg.append("g")
                        .attr("class", "axis")
                        .call(yAxis);

                    // draw rectangles
                    svg.selectAll("rect")
                        .data(prices)
                        .enter()
                        .append("rect")
                        .attr("x", function(d){return xScale(d.Date);})
                        .attr("y", function(d){return yScale(Math.max(d.Open, d.Close));})
                        .attr("width", function(d){return 0.5*w/prices.length;})
                        .attr("height", function(d){return yScale(Math.min(d.Open, d.Close))-yScale(Math.max(d.Open, d.Close));})
                        .attr("fill", function(d){return d.Open>d.Close ? "red" : "green"});

                    // draw high and low
                    svg.selectAll("g.line")
                        .data(prices)
                        .enter()
                        .append("line")
                        .attr("class", "stem")
                        .attr("x1", function(d){ return xScale(d.Date) + 0.25*w/prices.length; })
                        .attr("x2", function(d){ return xScale(d.Date) + 0.25*w/prices.length; })
                        .attr("y1", function(d){return yScale(d.High);})
                        .attr("y2", function(d){return yScale(d.Low);})
                        .attr("stroke", function(d){return d.Open > d.Close ? "red" : "green"; })

                    d3.select(`#${currency}currentPrice`)
                        .text(`${numberWithCommas(prices[0]['Open'])} 원`);
                    
                    d3.select(`#${currency}maxPrice`)
                        .text(`${numberWithCommas(prices[0]['High'])}`);

                    d3.select(`#${currency}minPrice`)
                        .text(`${numberWithCommas(prices[0]['Low'])}`);

                    d3.select(`#${currency}volume`)
                        .text(`${numberWithCommas(Math.round(prices[0]['Volume']))}`);
                    writeDiff(currency, prices[0]['Open'], prices[1]['Open'])
                }
            )}

        function getShortMonth(date) {
            var month = date.getMonth()
            months = {0 : 'Jan', 1 : 'Feb', 2 : 'Mar', 3 : 'Apr', 4 : 'May', 5 : 'Jun', 6 : 'Jul', 7 : 'Aug', 8 : 'Sep', 9 : 'Oct', 10 : 'Nov', 11 : 'Dec'}

            if (month == 0 | month == 7){
                return months[month] + ' ' + date.getFullYear()
            }
            else {
                return months[month]
            }
        }
        function writeDiff(type, today, yesterday) {
            var sub = today - yesterday;
            var diff = d3.select(`#${type}diff`);
            var info = d3.select(`#${type}info`);
            if (sub > 0) {
                diff.html(`&#9652;${numberWithCommas(sub)} (${((sub / yesterday) * 100).toFixed(2)}%)`);
                info.style("color", "red");
            } else {
                diff.html(`&#9662;${numberWithCommas(Math.abs(sub))} (${((sub / yesterday) * 100).toFixed(2)}%)`);
                info.style("color", "blue")
            }
        }
        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
        drawChart('BTC', 1000000);
        drawChart('ETH', 10000);
        drawChart('EOS', 100);
        drawChart('XRP', 10);
    </script>    
</main>
