<main>
    <div class="container" style="padding-top: 2rem; width: 30%;">
        <div class="row justify-content-md-center" style="margin-top: 2rem; margin-bottom: 2rem;">
            <h1>로그인</h1>
        </div>
        <div class="row justify-content-md-center">
            <form action="/auth/login" method="POST">
                <label for="email"><b>이메일</b></label>
                <input type="text" name="email" placeholder="Email" required>
                <label for="pwd"><b>비밀번호</b></label>
                <input type="password" name="pwd" placeholder="Password">
                <input type="submit" name="login" value="로그인">
            </form>
        </div>
        <div class="row" style="padding-bottom: 4rem; font-size: 12px;">
            <div class="col-md">
                <div class="float-left">
                    <a href="" style="color: gray;">아이디/비밀번호 찾기</a>
                </div>
            </div>
            <div class="col-md">
                <div class="float-right">
                    <a href="/register" style="color: gray;">회원가입</a>
                </div>
            </div>
        </div>
    </div>
</main>