<main>
    <div class="container" style="padding-top: 2rem; width: 30%;">
        <div class="row justify-content-md-center" style="margin-top: 2rem; margin-bottom: 2rem;">
            <h1>회원가입</h1>
        </div>
        <div class="row justify-content-md-center" style="padding-bottom: 4rem;">
            <form action="/auth/register" method="POST">
                <label for="email"><b>이메일</b></label>
                <input type="text" name="email" placeholder="Email" required>
                <input type="text" name="code" placeholder="code" required>
                <input type="button" name="send" onclick="mailAuth()" value="메일인증">
                <label for="pwd"><b>비밀번호</b></label>
                <input type="password" name="pwd" placeholder="Password">
                <label for="re_pwd"><b>비밀번호 재확인</b></label>
                <input type="password" name="re_pwd" placeholder="Repeat Password">
                <label for="username"><b>이름</b></label>
                <input type="text" name="username" placeholder="Username" required>
                <label for="phone_number"><b>핸드폰 번호</b></label>
                <input type="text" name="phone_number" placeholder="Phone Number" required>
                <input type="submit" name="register" value="회원가입">
            </form>
        </div>
    </div>
    <script>
        function mailAuth() {
            let data = {
                email: $('input[name=email]').val(),
                code: Math.random().toString(36).substr(2,11)
            };
            axios.post('/auth/mailSender', data)
                .then((results) => {
                    if (results.data === true) {
                        alert('메일 발송!!!')
                    } else {
                        alert('발송 실패!!!');
                    };
                }).catch((err) => {
                    console.log(err)
                });
        };
    </script>
</main>

