<div class="jumbotron" style="margin-top: 2.4rem">
    token sale!!
</div>
<div class="jumbotron" style="margin-top: 2.4rem">
    token sale!!
</div>
<div class="jumbotron" style="margin-top: 2.4rem">
    token sale!!
</div>
