<main style="padding: 2rem;">
    <div class="jumbotron" style="margin-top: 2.4rem">
        구현 예정
    </div>
    <div class="jumbotron" style="margin-top: 2.4rem">
        구현 예정
    </div>
    <div class="jumbotron" style="margin-top: 2.4rem">
        구현 예정
    </div>
</main>